
<div style="text-align: center; line-height: 0; padding-top: 9px;">
  <img src="yoydyne_data_science_logo.png" alt="Yoydyne Data Science" style="width: 600px">
</div>



Run some code in **SQL**

In [ ]:
DESCRIBE DETAIL my_table;



Run same code in `python`

In [ ]:
%python 
table_name = "my_table"
my_table_location = spark.sql(f"DESCRIBE DETAIL {table_name}").first().location
print(tbl_locmy_table_locationation)